#Game_Board 
{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
} 

#Game_Board td
{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20pt;
}

#Palette_Board
{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
} 

#Palette_Board td
{
    border: 3px solid black;
    width: 45px;
    height: 35px;
    text-align: center;
    font-size: 15pt;
    
}

.rowBorder
{
    border-top: 3px solid black;
}

colgroup
{
    border: 3px solid black;
}

td:hover
{
    background-color: #f5dd90;
}

.selected
{
    background-color: #f5dd90;
}

.error
{
    background-color: #ff0000;
}

.correct
{
    background-color: #f2f2f2;
}
